{{ $siteUrl := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ $.Scratch.Add "sitePath" .Site.BaseURL }}

{{ $.Scratch.Add "siteBreadcrumbs" (slice (dict "url" .Site.BaseURL "name" "home" "position" 1 )) }}
  {{ range $index, $element := split $siteUrl "/" }}
    {{ $.Scratch.Add "sitePath" $element }}
    {{ $.Scratch.Add "sitePath" "/" }}
    {{ if ne $element "" }}
      {{ $.Scratch.Add "siteBreadcrumbs" (slice (dict "url" ($.Scratch.Get "sitePath") "name" . "position" (add $index 2))) }}
    {{ end }}
{{ end }}

<div class="p-6 text-sm text-blue-700 dark:text-white-50">
  {{ range $.Scratch.Get "siteBreadcrumbs" }}
  <a class="no-underline capitalize" href="{{ .url }}" data-breadcrumb="{{ .name}}"></a>
  {{ end }}
</div>
