.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.navbar-text {
  margin-left: 1rem;
}

.navbar-brand {
  font-weight: $headings-font-weight;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:active {
  color: $body-color;
}

@include media-breakpoint-up(md) {
  .navbar-brand {
    font-size: $font-size-xl;
  }

  .navbar-text {
    margin-left: 1.25rem;
  }
}

.navbar-nav {
  flex-direction: row;
}

.nav-item {
  margin-left: 1.25rem;
}

@include media-breakpoint-up(md) {
  .nav-item {
    margin-left: 0.5rem;
  }
}

@include media-breakpoint-down(sm) {
  .nav-item:first-child {
    margin-left: 0;
  }
}

@include media-breakpoint-down(md) {
  .navbar .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.break {
  flex-basis: 100%;
  height: 0;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid $gray-200;
  margin-top: 4px;
  box-shadow: 0 6px 12px -6px rgba(0, 0, 0, 0.2), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.header-bar {
  border-top: 4px solid;
  border-image-source: linear-gradient(90deg, $primary, #8ed6fb 50%, #d32e9d);
  border-image-slice: 1;
}

.home .navbar {
  border-bottom: 0;
}

.navbar-form {
  position: relative;
  margin-top: 0.25rem;
}

@include media-breakpoint-up(md) {
  .navbar-brand {
    margin-right: 1rem !important;
  }

  .main-nav .nav-item:first-child .nav-link,
  .social-nav .nav-item:first-child .nav-link {
    padding-left: 0;
  }

  .main-nav .nav-item:last-child .nav-link,
  .social-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }

  .navbar-form {
    margin-top: 0;
    margin-left: 6rem;
    margin-right: 1.5rem;
  }
}

@include media-breakpoint-up(lg) {
  .navbar-form {
    margin-left: 15rem;
  }
}

@include media-breakpoint-up(xl) {
  .navbar-form {
    margin-left: 30rem;
  }
}

.form-control.is-search {
  /*
  padding-right: calc(1.5em + 0.75rem);
  */
  padding-right: 2.5rem;
  background: $gray-100;
  border: 0;

  /*
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%236c757d' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-search'%3E%3Ccircle cx='11' cy='11' r='8'%3E%3C/circle%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'%3E%3C/line%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  */
}

.navbar-form::after {
  position: absolute;
  top: 0.4625rem;
  right: 0.5375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  padding-right: 0.4375rem;
  padding-left: 0.4375rem;
  font-size: $font-size-base * 0.75;
  color: $gray-700;
  content: "/";
  border: 1px solid $gray-300;
  border-radius: 0.25rem;
}

/*! purgecss start ignore */
.algolia-autocomplete {
  display: flex !important;
}

.algolia-autocomplete .ds-dropdown-menu {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

@include media-breakpoint-down(sm) {
  .algolia-autocomplete .ds-dropdown-menu {
    max-width: 512px !important;
    min-width: 312px !important;
    width: auto !important;
  }

  .algolia-autocomplete .algolia-docsearch-suggestion .algolia-docsearch-suggestion--subcategory-column::after {
    content: "|";
    margin-right: 0.25rem;
  }
}

.algolia-autocomplete .algolia-docsearch-suggestion--title {
  margin-bottom: 0;
}

.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  padding: 0 0.05em;
}

.algolia-autocomplete .algolia-docsearch-footer {
  margin-top: 1rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

/*! purgecss end ignore */

/*
 * Source: https://medium.com/creative-technology-concepts-code/responsive-mobile-dropdown-navigation-using-css-only-7218e4498a99
*/

/* Style the menu icon for the dropdown */

.navbar .menu-icon {
  cursor: pointer;

  /* display: inline-block; */

  /* float: right; */
  padding: 1.125rem 0.625rem;
  margin: 0 0 0 -0.625rem;

  /* position: relative; */
  user-select: none;
}

.navbar .menu-icon .navicon {
  background: $navbar-light-color;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.navbar .menu-icon .navicon::before,
.navbar .menu-icon .navicon::after {
  background: $navbar-light-color;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.navbar .menu-icon .navicon::before {
  top: 5px;
}

.navbar .menu-icon .navicon::after {
  top: -5px;
}

/* Add the icon and menu animations when the checkbox is clicked */

.navbar .menu-btn {
  display: none;
}

.navbar .menu-btn:checked ~ .navbar-collapse {
  display: block;
  max-height: 100vh;
}

.navbar .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.navbar .menu-btn:checked ~ .menu-icon .navicon::before {
  transform: rotate(-45deg);
}

.navbar .menu-btn:checked ~ .menu-icon .navicon::after {
  transform: rotate(45deg);
}

.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon::before,
.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon::after {
  top: 0;
}

.hero {
  background-size: cover;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1012%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(52%2c 152%2c 219%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c460.987C89.837%2c465.927%2c185.962%2c455.236%2c257.473%2c400.635C327.21%2c347.388%2c349.29%2c255.514%2c377.79%2c172.531C403.798%2c96.805%2c432.148%2c18.584%2c415.588%2c-59.753C399.489%2c-135.905%2c334.849%2c-187.453%2c288.474%2c-249.964C237.719%2c-318.379%2c211.059%2c-416.707%2c130.415%2c-444.152C49.689%2c-471.625%2c-38.921%2c-428.007%2c-113.571%2c-386.789C-178.526%2c-350.924%2c-206.759%2c-276.479%2c-262.322%2c-227.304C-329.732%2c-167.644%2c-453.39%2c-155.809%2c-473.655%2c-68.101C-493.506%2c17.816%2c-393.25%2c82.818%2c-351.98%2c160.744C-313.719%2c232.989%2c-302.093%2c320.232%2c-239.896%2c373.286C-173.78%2c429.683%2c-86.771%2c456.216%2c0%2c460.987' fill='%231d6ca1'%3e%3c/path%3e%3cpath d='M1440 867.067C1515.655 876.011 1596.173 943.903 1660.897 903.722 1725.351 863.7090000000001 1693.831 759.3199999999999 1724.984 690.148 1755.8899999999999 621.525 1857.231 575.886 1841.711 502.243 1825.87 427.077 1717.641 419.43399999999997 1657.785 371.288 1611.513 334.068 1584.954 275.508 1530.469 251.89 1472.271 226.66199999999998 1407.06 223.74599999999998 1344.744 235.589 1278.066 248.262 1213.853 274.655 1164.658 321.41499999999996 1112.541 370.952 1078.63 435.821 1060.799 505.479 1041.52 580.793 1022.01 665.622 1059.049 733.9739999999999 1095.751 801.704 1177.574 829.775 1250.298 855.183 1311.347 876.512 1375.779 859.475 1440 867.067' fill='%2379bbe7'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1012'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

  &-title,
  &-message {
    color: $white;
  }
}
