@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap');
/* Tailwind base - put variables under: tailwind.config.js */
@import "node_modules/tailwindcss/base";
/* Tailwind component classes registered by plugins*/
@import "node_modules/tailwindcss/components";
/* Tailwind's utility classes - generated based on config file */
@import "node_modules/tailwindcss/utilities";

/* Site Specific */
@import "assets/css/site";

@import "assets/css/pages/home";
@import "assets/css/blog/list";
@import "assets/css/blog/article";

@import "assets/css/components/navbar";
@import "assets/css/components/hero";
@import "assets/css/components/pagination";
