<nav class="ui-nav" x-data="{ open: false, dark: false }" x-init="isDarkMode() ? dark = true : dark = false" >
  <div class="ui-nav__container">

    <div class="ui-nav-mobile">
      <!-- Mobile menu button-->
      <button @click="open = !open" type="button" class="ui-nav-mobile__button" aria-controls="mobile-menu" aria-expanded="false">
        <span class="sr-only">Open main menu</span>

        <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>

        <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>

    <div class="ui-nav-menu">
      <div class="ui-nav-menu__logo">
        <a href="{{ .Site.BaseURL | absURL }}">
          <img class="block lg:hidden h-8 w-auto" src="/images/logo-mini-blue.svg" alt="devPT">

          <img x-show.immediate="!dark" class="hidden lg:block h-8 w-auto" src="/images/logo-blue.svg" alt="devPT">

          <img x-show.immediate="dark" class="hidden lg:block h-8 w-auto" src="/images/logo-blue-white.svg" alt="devPT">
        </a>
      </div>

      <div class="ui-nav-menu__desktop">
        <div class="flex space-x-4">
          <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
          {{- $current := . -}}
          {{ range .Site.Menus.main -}}
            {{- $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) -}}
            {{- $active = or $active (eq .Name $current.Title) -}}
            {{- $active = or $active (and (eq .Name "Blog") (eq $current.Section "blog" "authors")) -}}
            <a href="{{ .URL | absURL }}" class="{{ if $active }}ui-nav-menu__link-active{{end}} ui-nav-menu__link">{{ .Name }}</a>
          {{ end -}}
        </div>
      </div>
    </div>

    <div class="ui-nav-menu__social">
      {{ range .Site.Menus.social -}}
        <a class="ui-nav-menu__social-link" href="{{ .URL | absURL }}">{{ .Pre | safeHTML }}</a>
      {{ end -}}

      <!--<a @click="dark = !dark; useToggleDarkMode()" class="ui-nav-menu__social-link">
        <i x-show="dark" class="far fa-sun"></i>

        <i x-show="!dark" class="far fa-moon"></i>
      </a>-->
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div id="mobile-menu" x-show="open">
    <div class="px-2 pt-2 pb-3 space-y-1">
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      {{- $current := . -}}
      {{ range .Site.Menus.main -}}
        {{- $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) -}}
        {{- $active = or $active (eq .Name $current.Title) -}}
        {{- $active = or $active (and (eq .Name "Blog") (eq $current.Section "blog" "authors")) -}}
        <a href="{{ .URL | absURL }}" class="{{ if $active }}ui-nav-menu__link-active{{end}} ui-nav-menu__link">{{ .Name }}</a>
      {{ end -}}
    </div>
  </div>
</nav>
