.ui-blog-list {
  @apply grid grid-cols-1 md:grid-cols-3 gap-y-4 md:gap-4 pl-6 pr-6;
}

.ui-blog-card {
  @apply bg-cover bg-no-repeat flex justify-between flex-col;
  background-blend-mode: soft-light;
}

.ui-blog__featured {
  height: calc(40vh);
  @apply col-span-2;
  background-blend-mode: soft-light;
}

.ui-blog-latest {
  @apply col-span-1;
  height: calc(40vh);
}

.ui-blog-card__feature {
  @apply text-sm lg:text-lg text-gray-500 justify-around bg-yellow-500 rounded-md p-2 m-6 flex flex-initial items-center;
  width: fit-content;
}

.ui-blog-card__date {
  @apply ml-4 text-xs inline-flex items-center font-bold leading-3 uppercase px-3 py-1 text-white-50;
  @apply mr-4 mt-4 justify-around;

  justify-content: flex-end;
  display: inline-flex;
  width: fit-content;
  align-self: flex-end;
}

.ui-blog-card__footer {
  @apply dark:bg-gray-700 bg-gray-500 flex relative flex-col border-solid border-blue-500 border-t-4;
  min-height: calc(25%);
}

.ui-blog-card__container {
  @apply md:ml-28 pl-5 pr-5 pb-5 text-white-50;
}

.ui-blog-card__user {
  @apply flex space-x-2 flex-initial absolute justify-items-end -top-5 left-5 md:-top-10 md:left-10;
}

.ui-blog-card__title {
  @apply mb-1;
}

.ui-user-avatar {
  @apply inline-block h-10 w-10 md:h-20 md:w-20 rounded-full ring-4 ring-blue-500;
}

.ui-user-avatar__name {
  @apply text-white-50 text-lg;
}

.ui-blog-latest .ui-blog-card {
  min-height: calc(40vh);
}

.ui-blog-card__title {
  @apply text-xl;
}

.ui-blog-article__user {
  @apply flex space-x-2 flex-initial absolute items-center bottom-10 left-10;
}

.ui-blog-article {
  @apply shadow-lg;
  min-height: 300px;
  overflow: hidden;
}

.ui-blog-article:hover .ui-blog-card,
.ui-blog-article:focus .ui-blog-card {
  transform: scale(1.1);
  transition: all .5s;
}

.ui-blog-article__user .ui-user-avatar {
  @apply ring-white-50;
}

.ui-blog-article__date {
  @apply absolute top-10 right-10 md:bottom-10 md:right-10 text-white-50;
}

